<!DOCTYPE html>
<html>
{{> "head" }}
<body class="{{body_class}} nav-closed">
   {{navigation}}
  <div class="site-wrapper">
  {{! Everything else gets inserted here }}
  {{{body}}}
  <footer class="site-footer">
    <div class="box-inner container-footer">
      <section class="description">
        <h3>Blog description</h3>
        <p>{{@blog.description}}</p> 
      </section>
      <section class="copyright">
        <h3>{{@blog.title}}</h3>
        <p>&copy; {{date format="YYYY"}}</p>
      <div class="social-networks">
        <a href="#" target="_blank" title="Facebook">
        <img src="{{asset "images/social-networks/facebook.svg"}}" >
        </a>
        <a href="#" target="_blank" title="Twitter">
          <img src="{{asset "images/social-networks/twitter.svg"}}">
        </a>
        <a href="#"  target="_blank" title="Google Plus">
          <img src="{{asset "images/social-networks/google-plus.svg"}}">
        </a>
        <a href="#"  target="_blank" title="YouTube">
          <img src="{{asset "images/social-networks/youtube.svg"}}">
        </a>
        <a href="#"  target="_blank" title="Instagram">
          <img src="{{asset "images/social-networks/instagram.svg"}}">
        </a>
        <a href="cel: +051 999000999"  target="_blank" title="Whatsapp">
          <img src="{{asset "images/social-networks/whatsapp.svg"}}">
        </a>
        <a href="{{@blog.url}}/rss/"  target="_blank" title="RSS">
          <img src="{{asset "images/social-networks/rss.svg"}}">
        </a>
      </div>
      </section>
    </div>
  </footer>
  </div>
  {{> "scripts"}}
</body>
</html>