<!DOCTYPE html>
<html lang="en">
{{> "head" }}
<body class="{{body_class}}">
{{! This message will be displayed if the browser is IE version 8 or less. }}
  <!--[if lt IE 9]>
  <div class="browser-old">
      <p class="browserupgrade">Está utilizando un navegador <strong>antiguo</strong>. Por favor <a href="http://browsehappy.com/">actualice su navegador</a> para mejorar su experiencia.</p>
  </div>
  <![endif]-->

{{! navigation bar}}
  {{navigation}}

<main role="main">
  {{! Everything else gets inserted here }}
  {{{body}}}

  <footer class="site-footer">
    <div class="inner-box footer-container">
      {{! section for description of the blog }}
      <section class="description">
        <span class="footer-title">Blog description</span>
        <p>{{@blog.description}}</p> 
      </section>
      {{! section copyright and social networks }}
      <section class="copyright-social-networks">
        <span class="footer-title">{{@blog.title}}</span>
        <p>&copy; {{date format="YYYY"}}</p>

      <div class="social-networks">
        <a href="#" target="_blank" title="Facebook">
        <img src="{{asset "images/social-networks/facebook.svg"}}" >
        </a>
        <a href="#" target="_blank" title="Twitter">
          <img src="{{asset "images/social-networks/twitter.svg"}}">
        </a>
        <a href="#"  target="_blank" title="Google Plus">
          <img src="{{asset "images/social-networks/google-plus.svg"}}">
        </a>
        <a href="#"  target="_blank" title="YouTube">
          <img src="{{asset "images/social-networks/youtube.svg"}}">
        </a>
        <a href="#"  target="_blank" title="Instagram">
          <img src="{{asset "images/social-networks/instagram.svg"}}">
        </a>
        <a href="cel: +051 999000999"  target="_blank" title="Whatsapp">
          <img src="{{asset "images/social-networks/whatsapp.svg"}}">
        </a>
        <a href="{{@blog.url}}/rss/"  target="_blank" title="RSS">
          <img src="{{asset "images/social-networks/rss.svg"}}">
        </a>
      </div>
      </section>
    </div>
  </footer>
  {{! cookie policy bar }}
  <div class="bar-accept-cookie" id="js_bar_accept_cookie" style="display: none;">
    <p> We request your permission to obtain statistical data on its navigation on this website, pursuant to Royal Decree-Law 13/2012. If you continue to browse we consider to accept the use of cookies. 
    <a href="/cookie-policy/"  class="info-cookie" target="_blank">More information</a> &nbsp;
    <button id="js_btn_cookie" class="btn-cookie">Ok</button>
    </p>
  </div>
  {{! button up }}
  <a href="#" class="button-up" id="js_button_up">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </a>
  </main>
  {{> "scripts"}}
</body>
</html>