{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
{{!including presentation -> folder partials/presentation.hbs}}
{{> "presentation"}}

<article class="{{post_class}} post-content inner-box">
  <section class="content-body js_reading_time">
    <div class="reading-author">
    {{!reading time and word count}}
    <p class="time-reading">
      Read time:
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <span class="reading-time"></span> 
      (<span class="word-count"></span> words)
    </p>
    {{!icon author}}
    {{#author}}
      {{#if author.image}}
        <a class="author-link" href="{{url}}" >
          <figure class="author-thumb" >
            <img src="{{image}}" alt="{{name}}'s Picture" nopin="nopin" title="Author: {{name}}"/>
          </figure>
        </a>
        <span class="author-name">{{name}}</span>
      {{else}}
        <a class="author-link" href="{{url}}">
        <figure class="author-thumb">
          <img src="{{asset "images/author-default.png"}}" alt="Picture" nopin="nopin" title="image default"/>
        </figure>
        </a>
      {{/if}}
    {{/author}}
  </div>
      
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox" style="display:block; text-align: center;"></div>

    {{content}}

    <div class="tag-links">
      {{tags prefix=" Tagged in: " separator=" " limit="7"}}
    </div>
  </section>

  <div class="line"></div>

  <footer class="post-footer">
    {{! Everything inside the #author tags pulls data from the author }}
    {{#author}}
      {{#if image}}
      <figure class="author-image">
          <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
      </figure>
      {{else}}
      <figure class="author-image">
        <a class="img" href="{{url}}" style="background-image: url({{asset "images/author-default.png"}})"><span class="hidden">{{name}}'s Picture</span></a>
      </figure>
      {{/if}}

      <section class="author">
        <h4><a href="{{url}}">{{name}}</a></h4>

        {{#if bio}}
            <p>{{bio}}</p>
        {{else}}
            <p>Read <a href="{{url}}">more posts</a> by this author.</p>
        {{/if}}
        <div class="author-meta">
            {{#if location}}
              <i class="fa author-location fa-map-marker" aria-hidden="true"></i>
              <span class="author-location">
                {{location}}
              </span>
            {{/if}}
            &nbsp;&nbsp;&nbsp;
            {{#if website}}
              <i class="fa author-link fa-link" aria-hidden="true"></i>
              <span class="author-link" aria-hidden="true">
                <a href="{{website}}">{{website}}</a>
              </span>
            {{/if}}
        </div>
      </section>
    {{/author}}
      <section class="share">
        <h4>Share this post</h4>
        <a class="icon-share" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class="hidden">Twitter</span>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a class="icon-share" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class="hidden">Facebook</span>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
        <a class="icon-share" href="https://plus.google.com/share?url={{url absolute="true"}}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <span class="hidden">Google+</span>
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        </a>
      </section>
   </footer>
</article>
  
<aside class="read-next inner-box">
  {{#next_post}}
    <a class="read-next-story next" {{#if image}} style="background-image: url({{image}})" {{else}} style="background-image: url({{asset "images/cover/cover_default.png"}})" {{/if}} href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="15"}}&hellip;</p>
        </section>
    </a>
  {{else}}
    <a href="javascript:void(0))" class="read-next-story next" style="background-image: url({{asset "images/cover/cover_default.png"}})">
      <section class="post">
        <h2>Previous</h2>
        <p>No more posts</p>
      </section>
    </a>
  {{/next_post}}
  {{#prev_post}}
    <a class="read-next-story prev" {{#if image}} style="background-image: url({{image}})" {{else}} style="background-image: url({{asset "images/cover/cover_default.png"}})" {{/if}} href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="15"}}&hellip;</p>
        </section>
    </a>
  {{else}}
    <a href="javascript:void(0))" class="read-next-story prev" style="background-image: url({{asset "images/cover/cover_default.png"}})">
      <section class="post">
        <h2>Next</h2>
        <p>No more posts</p>
      </section>
    </a>
  {{/prev_post}}
</aside>
<section class="disqus-box inner-box">
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>

{{!progress reading}}
<progress value="0" class="progress-reading"></progress>
{{else}}
  <p>No posts to display!</p>
{{/post}}