{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
{{!including presentation -> folder partials/presentation.hbs}}
{{> "presentation"}}

  <div class="article-content box-inner">
    <article class="{{post_class}}">
      <section class="body-content js_reading_time">
        {{!reading time and word count}}
        <p class="time-reading">
          Read time:
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span class="reading-time"></span> 
          (<span class="word-count"></span> words)

          <!--Quitar el links de los tags-->

          {{#if tags}}
           &nbsp;&nbsp;|&nbsp;&nbsp
            <i class="fa fa-tags" aria-hidden="true"></i> 
            {{tags prefix=" Labels: " separator=", " limit="3" autolink="false"}}
          {{/if}}
        </p>

        {{content}}

        <div class="tag-links">
          {{tags prefix=" Tagged in: " separator=" " limit="7"}}
        </div>
      </section>

      <div class="line"></div>

      <footer class="post-footer">
        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}
          {{#if image}}
          <figure class="author-image">
              <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
          </figure>
          {{/if}}

          <section class="author">
            <h4><a href="{{url}}">{{name}}</a></h4>

            {{#if bio}}
                <p>{{bio}}</p>
            {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
            <div class="author-meta">
                {{#if location}}<span class="fa fa-map-marker" aria-hidden="true"> {{location}}</span>{{/if}}
                &nbsp;&nbsp;&nbsp;
                {{#if website}}<span class="fa fa-link" aria-hidden="true"> <a href="{{website}}">{{website}}</a></span>{{/if}}
            </div>
          </section>
        {{/author}}
          <section class="share">
            <h4>Share this post</h4>
            <a class="icon-share" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
            <a class="icon-share" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a class="icon-share" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            </a>
          </section>
       </footer>
    </article>
  </div>
  <aside class="read-next box-inner">
    <div>
    {{#next_post}}
      <a class="read-next-story next {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
          <section class="post">
              <h2>{{title}}</h2>
              <p>{{excerpt words="10"}}&hellip;</p>
          </section>
      </a>
    {{else}}
      <a href="javascript:void(0))" class="read-next-story next no-cover" style="background-image: url({{asset "images/cover/cover_default.jpg"}})">
        <section class="post">
            <button class="btn">Previus post</button>
            <p>No more posts</p>
        </section>
      </a>
    {{/next_post}}
    </div>
    <div>
    {{#prev_post}}
      <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
          <section class="post">
              <h2>{{title}}</h2>
              <p>{{excerpt words="10"}}&hellip;</p>
          </section>
      </a>
    {{else}}
      <a href="javascript:void(0))" class="read-next-story prev no-cover" style="background-image: url({{asset "images/cover/cover_default.jpg"}})">
        <section class="post">
            <button class="btn">Next post</button>
            <p>No more posts</p>
        </section>
      </a>
    {{/prev_post}}
    </div>
</aside>
{{! progress reading }}
<progress value="0" class="progress-reading"></progress>
{{else}}
  <p>No posts to display!</p>
{{/post}}