{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<section class="presentation-section tag-head {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
  {{!including search form -> folder partials/search.hbs}}
  {{> "search"}}
    <div class="presentation-content box-inner">
      <h1 class="post-title">{{tag.name}}</h1>
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{date format="DD MMMM YYYY"}}</time>
      <p class="page-description">
        {{#if tag.description}}
          {{tag.description}}
        {{else}}
          A {{pagination.total}}-post collection
        {{/if}}
      </p>
    </div>
</section>

{{! The main content area on the homepage }}
<section class="content___loop box-inner">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</section>