<ul class="rslides">
  <li><img src="{{asset "imagenes/slider/bg1.jpg"}}"></li>
  <li style="display:none"><img src="{{asset "imagenes/slider/bg2.jpg"}}"></li>
  <li style="display:none"><img src="{{asset "imagenes/slider/bg3.jpg"}}"></li>
  <li style="display:none"><img src="{{asset "imagenes/slider/bg4.jpg"}}"></li>
  <li style="display:none"><img src="{{asset "imagenes/slider/bg5.png"}}"></li>
  <li style="display:none"><img src="{{asset "imagenes/slider/bg4.jpg"}}"></li>
  <li style="display:none"><img src="{{asset "imagenes/slider/bg5.png"}}"></li>
</ul>