<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{#is "index, home"}}{{meta_title}} &#187; amazing theme designed for you{{else}}{{meta_title}} &#171; {{@blog.title}}{{/is}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="robots" content="INDEX, FOLLOW" />
  <meta name="author" content="" />
  <meta name="application-name" content="up v. 1.0"/>

  {{! Page to see my location http://www.geo-tag.de/generator/en.html }}
  <meta name="geo.region" content="PE-LAL" />
  <meta name="geo.placename" content="trujillo" />
  <!--[if IE]>
    <meta name="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
  <meta name="apple-mobile-web-app-capable" content="no" />

  <link type="text/plain" rel="author" href="{{asset "/humans.txt"}}" />
  <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" href="{{asset "css/vendor/normalize.css"}}">
  <link rel="stylesheet" type="text/css" href="{{asset "css/up.css"}}" />
  {{! styles for IE < IE 9 }}
   <!--[if lt IE 9]>
  }
  }
  <style>
    html {overflow: hidden;}
    .browser-old {background: #40bee8;display: table-cell;position: fixed;top: 0;left: 0;bottom: 0;right: 0;z-index: 100000;}
    .browserupgrade {display: block;color: #000017;font-size: 2em;line-height: 40px;position: absolute;top: 30%;padding: 0 1em;text-align: center;width: 100%;}
    .browserupgrade a {color: #1C2BEF;}
    .browserupgrade a:hover {color: #000040;}
  </style>
  <![endif]-->
 
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,300,700italic|Droid+Sans:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{asset "css/vendor/magnific-popup.css"}}" />
  <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
  <link rel="stylesheet" type="text/css" href="{{asset "css/vendor/animate.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/vendor/tomorrow-night.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/vendor/print.css"}}" media="print"/>

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>