<header>
<nav class="navigation">
	<div class="box-inner box-inner-navigation">
		{{#if @blog.logo}}
		<figure class="logo">
				<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
		</figure>
		{{else}}
			<a class="name-app" href="{{@blog.url}}">{{@blog.title}}</a>
		{{/if}}
		<ul class="nav-menu">
			{{#foreach navigation}}
			  <li class="nav-menu-item {{slug}} {{#if current}} item-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
			{{/foreach}}
		</ul>
	</div>
</nav>
</header>


