{{! main header }}
<header class="headroom header--fixed">
{{! navigation }}
<nav class="navigation">
	<div class="row-inner navigation-inner">
	{{! Container navigation mobile }}
	<div class="navigation-mobile">
		{{#if @blog.logo}}
		<figure class="uptheme-logo">
				<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
		</figure>
		{{else}}
			<a class="uptheme-name-app" href="{{@blog.url}}">{{@blog.title}}</a>
		{{/if}}
		{{! Icon of mobile navigation }}
		<span class="navigation-icon-mobile" id="js_navigation_icon_mobile">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</span>
	</div>
	{{! pages list }}
	<ul class="main-menu" id="js_main_menu">
		{{#foreach navigation}}
		{{#if current}}
			<li class="main-menu-item item-current {{slug}}" role="presentation"><span title="{{label}}">{{label}}</span></li>
		{{else}}
		  <li class="main-menu-item {{slug}}" role="presentation"><a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a></li>
		{{/if}}		
		{{/foreach}}
	</ul>
	</div>
</nav>
</header>


