<section class="presentation-section"{{#is "index, home"}}{{#if @blog.cover}} style="background-image: url({{@blog.cover}})" {{else}} style="background-image: url({{asset "images/cover/cover_default.png"}})" {{/if}}{{else}}{{#if image}} style="background-image: url({{image}})" {{else}} style="background-image: url({{asset "images/cover/cover_default.png"}})" {{/if}} {{/is}}>

  {{!including search form -> folder partials/search.hbs}}
  {{> "search"}}
  <div class=" inner-box">
    <section class="presentation-content">
      {{#is "index, home"}}
        <h1 class="page-title">{{@blog.title}}</h1>
        <p class="page-description">{{@blog.description}}</p>
      {{else}}
        <h1 class="post-title">{{title}}</h1>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
          <i class="fa fa-calendar-o" aria-hidden="true"></i> {{date format="DD MMMM YYYY"}}
        </time>
      {{/is}}
    </section>

  </div>
</section>