<section class="presentation-section{{#is "index"}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}} no-cover{{/if}}{{else}} {{#if image}}" style="background-image: url({{image}}){{else}} no-cover{{/if}}{{/is}}">

  {{> "search"}}

  {{#is "index"}}
    <div class="vertical box-inner">
      <div class="presentation-content">
        <h1 class="page-title">{{@blog.title}}</h1>
        <p class="page-description">{{@blog.description}}</p>
      </div>
    </div>
  {{else}}
    <div class="vertical box-inner">
      <div class="presentation-content">
        <h1 class="post-title">{{title}}</h1>
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{date format="DD MMMM YYYY"}}</time>
      </div>
    </div>
  {{/is}}
</section>